
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  
}
.title{
  margin-left: 30px;
  font-size: 40px;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom:0px;
  margin-top:10px;
}
#note{
  font-size: 10px;
}
.container {
  display: grid;
  font-family: "Pixelify Sans", serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.pixlevel{
  color: #007FFF; 
}
label{
  font-size:20px;
}
.radios{
  margin-bottom: 20px;
}
p{
  color: #007FFF; 
  font-size: 20px;
}
.form{
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 30px;
}
/* .level{
  margin-bottom: 20px;
} */
#reverselabel{
  margin-top:20px;
}
.canvas {
  grid-column-start: 4;
}
input[type=checkbox] { 
  vertical-align: middle; 
  position: relative; 
  bottom: 1px; 
} 
  
label { 
  display: block; 
} 
  
  